{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row col-md-4 col-lg-offset-4 text-center">
        <h2 class="text-center">Piano</h2>
        <ul class="nav nav-pills center-pills">
          <li class="active"><a data-toggle="tab" href="#home">YouTube</a></li>
          <li><a data-toggle="tab" href="#menu1">File</a></li>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
              {{ wtf.quick_form(youtubeform) }}
          </div>
          <div id="menu1" class="tab-pane fade">
             {{ wtf.quick_form(fileform) }}
          </div>
        </div>
    </div>
{% endblock %}

